sass:
  div.footer
    background-color: black;
    height: 32px;
    display: flex;
    justify-content: center;
    p, a
      color: white;
    > div:first-child
      width: 710px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > div
        border-left: solid 1px white;
        width: 17%;
        display: flex;
        justify-content: center;
      > div:last-child
        border-right: solid 1px white;
    > div:last-child
      position: absolute;
      right: 20px;
    @media (max-width: 768px)
      > div
        overflow-x: hidden;
        width: 96vw;
        margin: 0 auto;
div.footer
  div
    div
      = link_to '運営者情報', '/about_us'
    div
      = link_to 'お問合せ', '/contact'
  div
    p © 2023 Flavor. All Rights Reserved.
