sass:
  div.header
    margin-bottom: 20px;
    height: 48px;
    box-shadow: 0px 1px 10px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 120px;
    > div:first-child
      display: flex;
      align-items: center;
      > a
        display: flex;
        align-items: center;
        > img
          height: 28px;
div.header
  div
    = link_to image_tag('logo-black.svg', alt: 'カロリーチェッカー'), "/"