javascript:
  window.addEventListener('turbo:load', () => {
    const submit = () => { document.querySelector('.search_form').submit() };

    const genreCheckBoxes = document.querySelectorAll('.search_form input[name="genre[]"]');
    genreCheckBoxes.forEach(element => element.onchange = submit )

    const sortKeySelectBox = document.querySelector('.search_form select[name="sort[key]"]');
    sortKeySelectBox.onchange = submit;

    const sortOrderSelectBox = document.querySelector('.search_form select[name="sort[order]"]');
    sortOrderSelectBox.onchange = submit;
  })
sass:
  .dishes_index
    .search_form
      border-bottom: solid 1px black;
    .records_container
      display: flex;
      flex-wrap: wrap;
      gap: 32px 0;
      margin-top: 12px;
      justify-content: space-between;
      .dish_thumbnail_box
        cursor: pointer;
        width: 23%;
        p, a
          color: black;
        .thumbnail_image_box
          position: relative;
          height: 110px;
          border: solid 1px LightGray;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          > img
            position: absolute;
          > img:first-child
            top: 0;
            left: 0;
          > img:last-child
            bottom: 4%;
            right: 4%;
            width: 24px;
            height: 24px;
        > div:last-child
          > div
            margin: 0.1rem 0;
            display: flex;
            align-items: center;
          > div:first-child > p
              color: black;
              font-size: 0.9rem;
              color: gray;
          > div:last-child > p
            font-weight: bold;
      .pagination
= render 'partials/header'
div#top_wrapper.dishes_index
  = form_with url: '/dishes', method: :get, local: true, class: 'search_form' do |f|
    = f.hidden_field :limit, value: 4
    div.display_flex.justify-content_flex-start
      = f.text_field :name, value: (params[:name]), placeholder: '食材や料理の名前で検索'
      = f.submit '検索'
    div.display_flex
      div.display_flex.justify-content_flex-start
        - @model.genres.keys.each do |genre|
          div
            = f.label genre
            = check_box_tag("genre[]", genre, (params[:genre].present? ? params[:genre].include?(genre) : true))
      div
        = f.select "sort[key]", @model.nutrition_name_list.invert, {selected: params&.[](:sort)&.[](:key)}
        = f.select "sort[order]", {'高い順' => :desc, '低い順' => :asc}, {selected: params&.[](:sort)&.[](:order)}
  div.records_container
    - @records.each do |record|
      a.dish_thumbnail_box href="https://example.com" target="_blank"
        div.thumbnail_image_box
          = image_tag record.image_source, alt: record.name
          = image_tag 'arrow-sircled-button.svg', alt: 'button'
        div
          div.カロリー枠
            p = "#{record.calorie}kcal"
          div
            p = record.name
    div.pagination