@import "reset";
@import "colors";
@import "common";

#top_wrapper {
  width: 710px;
  margin: 20px auto;
}

div.data-tag {
  display: none;
}

@media (max-width: 768px) {
  #top_wrapper {
    overflow-x: hidden;
    width: 96vw;
    margin: 20px auto;
  }
}